Data_Logger/AirMonit-DLog/AirMonit DU/Connected Services/CommunicationInfastructure/ServiceCommunication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50466/ServiceCommunication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Communication_Infrastructure" />
  <xs:element name="TesteDoservice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteDoserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TesteDoserviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Communication_Infrastructure" minOccurs="0" name="entry" nillable="true" type="q1:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Communication_Infrastructure" minOccurs="0" name="getEntriesResult" nillable="true" type="q2:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecentEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecentEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Communication_Infrastructure" minOccurs="0" name="getRecentEntriesResult" nillable="true" type="q3:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>