Data_Logger/AirMonit-DLog/AirMonit DU/Connected Services/CommunicationInfastructure/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50466/ServiceCommunication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50466/ServiceCommunication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50466/ServiceCommunication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Communication_Infrastructure" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceCommunication_TesteDoservice_InputMessage">
    <wsdl:part name="parameters" element="tns:TesteDoservice" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_TesteDoservice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TesteDoserviceResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_addEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:addEntry" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_addEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_getEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:getEntries" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_getEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_getRecentEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecentEntries" />
  </wsdl:message>
  <wsdl:message name="ServiceCommunication_getRecentEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecentEntriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceCommunication">
    <wsdl:operation name="TesteDoservice">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceCommunication/TesteDoservice" message="tns:ServiceCommunication_TesteDoservice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceCommunication/TesteDoserviceResponse" message="tns:ServiceCommunication_TesteDoservice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceCommunication/addEntry" message="tns:ServiceCommunication_addEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceCommunication/addEntryResponse" message="tns:ServiceCommunication_addEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceCommunication/getEntries" message="tns:ServiceCommunication_getEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceCommunication/getEntriesResponse" message="tns:ServiceCommunication_getEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecentEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceCommunication/getRecentEntries" message="tns:ServiceCommunication_getRecentEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceCommunication/getRecentEntriesResponse" message="tns:ServiceCommunication_getRecentEntries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceCommunication" type="tns:ServiceCommunication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TesteDoservice">
      <soap:operation soapAction="http://tempuri.org/ServiceCommunication/TesteDoservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEntry">
      <soap:operation soapAction="http://tempuri.org/ServiceCommunication/addEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntries">
      <soap:operation soapAction="http://tempuri.org/ServiceCommunication/getEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentEntries">
      <soap:operation soapAction="http://tempuri.org/ServiceCommunication/getRecentEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ServiceCommunication" binding="tns:BasicHttpBinding_ServiceCommunication">
      <soap:address location="http://localhost:50466/ServiceCommunication.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>