AirMonit/AirMonit/AirMonit_Alarm/trigger-rules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="rules" type="ruleType" >
  </xs:element>
  


  <xs:complexType name="ruleType">
    <xs:sequence>
  <!-- <NO2>, <CO>, <O3> -->
      <xs:element maxOccurs="1" name="CO" type="particleRuleType" />
      <xs:element maxOccurs="1" name="O3" type="particleRuleType" />
      <xs:element maxOccurs="1" name="NO2" type="particleRuleType" />
<xs:element maxOccurs="1" name="NOP" type="particleRuleType" />
<xs:element maxOccurs="1" name="Oic" type="particleRuleType" />
<xs:element maxOccurs="1" name="POOP" type="particleRuleType" />
      <!--@NextElement-->

    </xs:sequence>
    <xs:attribute name="applyRule" type="xs:boolean"/>
  </xs:complexType>

<!-- Conteudo dos complexTypes -->
  <xs:complexType name="particleRuleType">
    <!-- <Rule> -->
    <xs:choice maxOccurs="unbounded">
        <xs:element name="equals" type="conditionParams" minOccurs="0"/>
        <xs:element name="less" type="conditionParams" minOccurs="0"/>
        <xs:element name="greater" type="conditionParams" minOccurs="0"/>
        <xs:element name="between" type="conditionParamsBETWEEN" minOccurs="0"/>

    </xs:choice>
    <!--<xs:attribute name="applyRule" type="xs:boolean"/>-->
  </xs:complexType>

  <!-- Conteudo dos complexTypes -->

  <xs:complexType name="conditionParams">
    <xs:sequence>
        <xs:element name="num" minOccurs="1" type="xs:decimal" />
        <xs:element name="msg" minOccurs="1" type="xs:string" />
    </xs:sequence>

    <xs:attribute name="applyRule" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="conditionParamsBETWEEN">
    <xs:sequence>
      <xs:element name="num1" minOccurs="1" type="xs:decimal" />
      <xs:element name="num2" minOccurs="1" type="xs:decimal" />
      <xs:element name="msg" minOccurs="1" type="xs:string" />
    </xs:sequence>

    <xs:attribute name="applyRule" type="xs:boolean"/>
  </xs:complexType>

</xs:schema>
